body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 1em;
}

h1 {
	margin: 0 0 1em 0;
	font-weight: 300;
}

/* Divs */

div.visible {
	display: block;
	width: 100%;
	min-height: 20px;
}

div.invisible {
	display: none;
}

/* Nav */

nav ul {
	overflow: auto;
	padding: 0;
}

nav ul li {
	float: left;
	margin-right: 4em;
	list-style: none;
}

nav a {
	cursor: pointer;
	display: inline-block;
	padding: 0.2em 0.5em;
	border-radius: 0.8em;
}

nav a.active {
	color: #333;
	border: 0.1em solid #888;
}

nav a.inactive {
	color: #aaa;
}

nav a.inactive:hover {
	background-color: #ccc;
}

nav a.inactive:hover {
	color: #333;
}